.movies-button-load-more {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 320px;
  height: 36px;
  color: #000;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border-radius: 6px;
  background-color: #F9F9F9;
  border: 1px;
  padding: 0;
  margin: 60px auto 88px;
  cursor: pointer;
}
.not-found-message {
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
}
.error {
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  color: red;
}
.movies-button-load-more:hover {
  opacity: 0.8;
}
@media screen and (max-width: 768px) {
  .movies-button-load-more {
    margin-bottom: 80px;
  }
}
@media screen and (max-width: 552px) {
  .movies-button-load-more {
    width: 240px;
  }
}